table {
  width: 100%;
}

::ng-deep tbody tr:hover {
  background: rgba(0, 0, 0, 0.02) !important;
}

.title {
  font-weight: 800;
  //font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 5px 30px 5px 5px;
  border-radius: 8px 55px 10px 8px;
  background: #3884ff;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;

  mat-icon {
    line-height: 20px;
  }
}

//.add-user-btn {
//  background-color: rgba(0, 0, 0, 0.2);
//  transition: background-color 200ms ease-in-out;
//  margin-right: 10px;
//  &:hover {
//    background-color: rgba(217, 213, 102, 0.2);
//  }
//}
