.title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #0d6efd;
  padding: 5px 15px;
  border-left: 7px solid #0d6efd;

  span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 5px;
  }
}
