<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      *ngFor="let item of items; let first = first; let i = index;"
      [ngClass]="{ 'active': first }"
      data-target="#carouselExampleCaptions" [attr.data-slide-to]="i">
    </li>
  </ol>
  <div class="carousel-inner">
    <div
      *ngFor="let item of items; let first = first"
      class="carousel-item"
      [ngClass]="{ 'active': first }">
      <img class="d-block w-100 item-image" [src]="item?.image" alt="img">
      <div class="carousel-caption d-none d-md-block">
        <div class="item-name">{{ item?.name }}</div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
